@media(min-width: 768px) {
    .body-container {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        width: 90%;
        padding: 20px;
        box-sizing: border-box;
    }
}

@media(max-width: 768px) {
    .body-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        width: 90%;
        box-sizing: border-box;
    }
}