@import url('../Home/Body.css');

.btn-container {
  display: flex;
  position: relative;
  align-items: end;
  justify-content: end;
  top: 60px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: none;


}

.btn-content {
  align-items: end;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

}

@media(max-width: 768px) {
  #card-container .btn-container {
    opacity: 1;
    border-radius: 50px;
    
  }
}

@media(min-width: 768px) {
  #card-container:hover .btn-container {
    opacity: 1;
    border-radius: 50px;
    
  }
}