.product-card {
    margin: 20px;
    display: contents;
    margin: auto;
    align-items: baseline;
    max-width: max-content;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    
}

@media(min-width: 768px) {
    #img-card {
        width: 95%;
        height: 400px;
        max-height: 400px;
        object-fit: cover;
        background: none;

        
    }
}

.card {
    margin: 5px;
    width: 95%;
    height: 200px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    overflow: hidden;
    word-break: break-all;
    border: none;
    
    

}

@media(min-width: 768px) {

    .product-card:hover #img-card {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 20px;

    }
}

.card-description{
    display: flex;
    max-width: fit-content;
    height: 100px;
    text-align: center;

    
}

.description-content{

    text-align: center;


}
p {
    text-align: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}