.product-card {
  margin: 20px;
  display: contents;
  margin: auto;
  align-items: baseline;
  max-width: max-content;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;

}

@media(min-width: 768px) {
  #img-card {
    width: 95%;
    height: 400px;
    max-height: 400px;
    object-fit: cover;
    background: none;


  }
}

.card {
  margin: 5px;
  width: 95%;
  height: 200px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  word-break: break-all;
  border: none;



}

@media(min-width: 768px) {

  .product-card:hover #img-card {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

  }
}

.card-description {
  display: flex;
  max-width: fit-content;
  height: 100px;
  text-align: center;


}

.description-content {

  text-align: center;


}

p {
  text-align: center;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn-container {
  display: flex;
  position: relative;
  right: 50px;

}

.add-cart-btn {
  display: flex;
  position: relative;
  width: 80px;
  height: 50px;
  left: 190px;
  align-items: center;
  justify-content: center;
}

@media(max-width: 768px) {
  .buy-btn{
    display: none;
  }
  .btn-container{
    display: none;
  }
  
}

@media(min-width: 768px) {
  .buy-btn {
    width: 100%;
    height: 50px;
    position: relative;
    top: 345px;
    background: none;
    right: 45px;
    text-align: center;

  }


  .btn-container {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: end;
    top: 70px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: none;


  }

  .btn-content {
    align-items: end;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    background: none;
  }
}

@media(max-width: 768px) {
  #card-container .btn-container {
    opacity: 1;
    border-radius: 50px;

  }
}

@media(min-width: 768px) {
  #card-container:hover .btn-container {
    opacity: 1;
    border-radius: 50px;

  }
}