@media(min-width: 768px) {
    .cart-item {
        display: flex;
        max-height: 100px;
        justify-content: space-between;
    }
    
    .image-content{
        width: 100px;
        height: 100px;
    
    }

    .cart-item-image {
        width: 100px;
    
    }

    .span-content{
        margin-top: 30px;
        display:inline-flex;
        margin-right: 20px; 
        justify-content: center;
        align-items: center; 
    }

    .add-icon{
        border: none;
    }

    .span-num{
        margin-left: 10px;
        margin-right: 10px;
    }

    .remove-icon {
        background: none;
        border: none;
    }
    
    .cart-content {
        display: flex;
        flex-direction: column;
        padding: 0 35px 0 10px;
    
    }
    .cart-title {
        width: 200px;
        font-size: 0.85rem;
        font-weight: 500;
    
    }
    
}

@media(max-width: 768px) {
    .remove-icon {
        background: none;
    }


    .cart-item {
        display: flex;
        max-height: 100px;
        justify-content: space-between;
    }
    
    .image-content{
        width: 100px;
        height: 100px;
    
    }
    .cart-item-image {
        width: 100px;
    
    }
    
    .span-content{
        margin-top: 30px;
        display:inline-flex;
        margin-right: 20px; 
        justify-content: center;
        align-items: center; 
    }
    .span-num{
        margin-left: 10px;
        margin-right: 10px;
    }
    .add-icon{
        border: none;
    }
    
    .remove-icon{
        border: none;
    }
    .cart-title {
        width: 200px;
        font-size: 0.85rem;
        font-weight: 500;
    
    }
    
    .cart-content {
        display: flex;
        flex-direction: column;
        padding: 0 35px 0 10px;
    
    }
}





