.load{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock{

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}