.search-container {
    margin: 20px;
    width: 75%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 20%;
    margin-top: 5%;

}

@media (min-width: 768px) {
    #searchBar{
        background-color: cornsilk;
    }
    #searchBar:hover {
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        background-color: cornsilk;

    }
    #search-btn{
        height: 40px;
        width: 40px;
        border: 1px solid;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        display: flex;

    }
    #search-btn:hover{
        background-color: lightgray;

    }
}

@media (max-width: 740px) {
    #searchBar {
        margin-left: 20px;
        display: flex;
        max-width: 80%;
        border-radius: 20pc;

    }
    #search-btn{
        display: none;
    }
}



@media (min-width: 1000px) {
    #searchBar {
        display: flex;
        max-width: 80%;
        margin-left: 4%;
        border-radius: 20pc;

    }
}