.cart-item {
    display: flex;
    max-height: 100px;
    align-items: flex-start;
}

.image-content{
    width: 100px;
    height: 100px;
    margin: 10px;

}
.cart-item-image {
    width: 100px;

}

.span-content{
    display:flex;
    margin-right: 20px;  
}
.span-num{

    left: 10px;

}
.cart-title {
    width: 200px;
    font-size: 0.85rem;
    font-weight: 500;

}

.cart-content {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 10px;

}



@media(min-width: 768px) {
    .remove-icon-content{
        margin-left: 0px;
        margin-right: 50px;
    }
    .remove-icon {
        width: 20px;
        border-radius: 50%;
        background: none;
    }

    .btn-add-cart{
        background: none;
        position: absolute;
        bottom: 300px;
        right: 60px;
        width: 30px;
        height: 30px;
        
    }


}

.canv-buy-btn{
    width: 300px;

}

